{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Kiarutara - Events</title>
    <meta
      name="description"
      content="School portal, Events management"
    />
    <meta
      name="keywords"
      content="School portal,  Events management school primary school"
    />

    <!-- Favicons -->
    <link href="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/education-icon%2C-book-icon-logo-school-logo-design-template-2f5700bab7fe195a2659cf45edffcb5c_screen.jpg?ts=1659803081" rel="icon" />
    <link
      href="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/education-icon%2C-book-icon-logo-school-logo-design-template-2f5700bab7fe195a2659cf45edffcb5c_screen.jpg?ts=1659803081"
      rel="apple-touch-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- assets/ CSS Files -->
    <!-- Bootstrap CSS -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Bootstrap Icons -->
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <!-- AOS Animation CSS -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Glightbox CSS -->
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Swiper CSS -->
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
      <a href="/" class="log d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="https://codeforcelab.lovable.app/lovable-uploads/2334f44b-ebd4-4b4d-a855-a67f10d63c98.png" class='h-20 object-cover -my-4 ' alt=""> 
        {% comment %} <h1 class="sitename text-sm">CodeForce</h1> {% endcomment %}
      </a>


        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/">Home<br /></a>
            </li>
            <li><a href="/teachers">Teachers</a></li>
            <li><a href="/events" class="active">Events </a></li>
            <li><a href="/school-fees">School Fees</a></li>
            <li><a href="/contacts">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/home">School Portal</a>
      </div>
    </header>

    <main class="main">
      <!-- Page Title -->
      <div class="page-title" data-aos="fade">
        <div class="heading">
          <div class="container">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8">
                <h1>Events</h1>
                <p class="mb-0">
                  Get information about upcoming events and passed events
                </p>
              </div>
            </div>
          </div>
        </div>
        <nav class="breadcrumbs">
          <div class="container">
            <ol>
              <li><a href="/">Home</a></li>
              <li class="current">Events</li>
            </ol>
          </div>
        </nav>
      </div>
      <!-- End Page Title -->

      <!-- Events Section -->
      <section id="events" class="events section">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <img
                    src="{% static 'assets/img/music-fest.JPG' %}"
                    alt="Kiarutara music festival kenya gatura"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Kiarutara Music Festival</a>
                  </h5>
                  <p class="fst-italic text-center">
                    Thursday, September 26th at 10:00 am
                  </p>
                  <p class="card-text">
                    Grade 4 students coming from music festival practise
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <img src="{% static 'assets/img/img1.JPG' %}" alt="..." />
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Grade 8 Students</a></h5>
                  <p class="fst-italic text-center">
                    Wednesday, August 15th at 12:00 pm
                  </p>
                  <p class="card-text">
                    Students bonding and picture time, lighting up smiles
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Events Section -->
    </main>

 
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div
      class="flex container my-40 items-center justify-center lg:h-[40vh] h-[50vh] px-2"
    >
      <div
        class="relative mx-auto w-full lg:h-64 h-80 bg-cover bg-center rounded-lg shadow-lg"
        style="
          background-image: url('https://media.istockphoto.com/id/921578294/photo/abstract-background-with-light-leaks-3d-rendering-digital-backdrop.webp?b=1&s=612x612&w=0&k=20&c=lPkDYyxJUrtdEKUk3NWB-Rb_R05cTnE081j7SMgy7VM=');
        "
      >
        <div class="absolute inset-0 bg-black opacity-50 rounded-lg"></div>
        <div class="relative flex items-center justify-center h-full">
          <div class="text-center text-white px-4">
            <h4 class="text-3xl text-white md:text-4xl font-bold mb-2">
              School Platform
            </h4>
            <p class="text-sm">To our Parents</p>
            <p class="text-sm">
              Manage your students information easily, get started today!
            </p>
            <a
              href="/login"
              class="inline-block mt-4 bg-white text-black font-bold py-2 px-6 rounded-full"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
      <footer class="bg-blue-900">
        <br />
        <br />
        <br />
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
          <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
              <a href="https://kiarutara.co.ke/" class="flex items-center">
                <span
                  class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                >
                  Kiarutara Mixed
                  <br />
                  Day & Boarding
                  <br />
                  Comprehensive School
                </span>
              </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                <h2
                  class="mb-6 text-sm font-semibold text-white uppercase dark:text-white"
                >
                  Resources
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                  <li class="mb-4">
                    <a href="https://kiarutara.co.ke/" class="hover:underline"
                      >Home</a
                    >
                  </li>
                  <li class="mb-4">
                    <a href="https://tailwindcss.com/" class="hover:underline"
                      >School Portal</a
                    >
                  </li>
                  <li class="mb-4">
                    <a href="#" class="hover:underline">Get started</a>
                  </li>
                  <li>
                    <a href="#" class="hover:underline">Login</a>
                  </li>
                </ul>
              </div>
              <div>
                <h2
                  class="mb-6 text-sm font-semibold text-white uppercase dark:text-white"
                >
                  Get In Touch
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                  <li class="mb-4">
                    <a
                      href="https://github.com/themesberg/flowbite"
                      class="hover:underline"
                      >Facebook</a
                    >
                  </li>
                  <li class="mb-4">
                    <a
                      href="https://github.com/themesberg/flowbite"
                      class="hover:underline"
                      ><p>0793 850 303</p></a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h2
                  class="mb-6 text-sm font-semibold text-white uppercase dark:text-white"
                >
                  Links
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                  <li class="mb-4">
                    <a href="#" class="hover:underline">Events</a>
                  </li>

                  <li class="mb-4">
                    <a href="#" class="hover:underline">School Fees</a>
                  </li>

                  <li>
                    <a href="#" class="hover:underline"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
          />
          <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-white sm:text-center dark:text-gray-400"
              >© 2024
              <a href="https://kiarutara.co.ke/" class="hover:underline"
                >Kiarutara™</a
              >. All Rights Reserved. By PAUL KARANJA
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a
                href="#"
                class="text-gray-500 hover:text-white dark:hover:text-white"
              >
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 8 19"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Facebook page</span>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- PHP Email Form Validation -->
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- AOS Animation JS -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Glightbox JS -->
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

    <!-- PureCounter Vanilla JS -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
