{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>CodeForce</title>
    <meta
      name="description"
      content="School portal, fee management, online fee payment, Mpesa to school fees"
    />
    <meta
      name="keywords"
      content="School portal, fee management, online fee payment, Mpesa to school fees"
    />

    <!-- Favicons -->
    <link href="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/education-icon%2C-book-icon-logo-school-logo-design-template-2f5700bab7fe195a2659cf45edffcb5c_screen.jpg?ts=1659803081" rel="icon" />
    <link
      href="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/education-icon%2C-book-icon-logo-school-logo-design-template-2f5700bab7fe195a2659cf45edffcb5c_screen.jpg?ts=1659803081"
      rel="apple-touch-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- assets/ CSS Files -->
    <!-- Bootstrap CSS -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Bootstrap Icons -->
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <!-- AOS Animation CSS -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Glightbox CSS -->
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />

    <!-- Swiper CSS -->
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="pricing-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename text-sm" >CodeForce</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/">Home<br /></a>
            </li>
             
            <li><a href="/school-fees">Pricing</a></li>
            <li><a href="/contacts"  >Contact Us</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted " style="background-color: navy !important;" href="/home">login</a>
 
      </div>
    </header>

    <main class="main">
      <!-- Page Title -->
      <div class="page-title"  data-aos="fade">
        <nav class="breadcrumbs"  style="background-color: rgb(35 56 118);" >
          <div class="container"  style="background-color: rgb(35 56 118);" >
            <ol>
              <li><a href="/">Home</a></li>
              <li class="current"></li>
            </ol>
          </div>
        </nav>
      </div>
      <!-- End Page Title -->

      <br />

      <!-- Pricing Section -->
      <section id="pricing" class="pricing section">
        <div class="container">
          <div class="row gy-3">
            <div
              class="col-xl-6 col-lg-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="pricing-item  featured" style='border: 1px solid orange ;'>
                <h3>Company Portal</h3>
                <h4 class='flex items-center justify-center '>
                  <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 256 256">
                    <path fill="currentColor" d="m225.27 60.21l-96-32a4 4 0 0 0-2.54 0l-96 32A4 4 0 0 0 28 64v80a4 4 0 0 0 8 0V69.55l43.88 14.63a60 60 0 0 0 24.54 91c-20.86 5.74-39 19.13-51.77 38.65a4 4 0 0 0 6.7 4.36C75.17 193.92 100.2 180 128 180s52.83 13.92 68.65 38.18a4 4 0 0 0 6.7-4.36c-12.72-19.52-30.91-32.91-51.77-38.65a60 60 0 0 0 24.54-91l49.15-16.39a4 4 0 0 0 0-7.58ZM180 120a52 52 0 1 1-92.07-33.14l38.8 12.93a3.95 3.95 0 0 0 2.54 0l38.8-12.93A51.85 51.85 0 0 1 180 120m-52-28.22L44.65 64L128 36.22L211.35 64Z" />
                  </svg>
                </h4>
                <ul>
                  <li>Hire Tech Talent</li>
                  <li>Test Products</li>
                  <li>Research & Development</li> 
                  {% comment %}
                  <li>Nulla at volutpat dola</li>
                  <li class="na">Pharetra massa</li>
                  <li class="na">Massa ultricies mi</li>
                  {% endcomment %}
                  <div class="btn-wrap">
                    <a href="/accounts/register" class="btn-buy">Create Account</a>
                  </div>
                </ul>
                <div class="btn-wrap">
                  <a href="/login" class="btn-buy">Login</a>
                </div>
              </div>
            </div>
            <!-- End Pricing Item -->

            <div
              class="col-xl-6 col-lg-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="pricing-item  " style='border: 1px solid  rgb(35 56 118)'>
                <h3 class='text-white' style="background-color: rgb(35 56 118);" >Staff Portal</h3>
                <h4 class='flex items-center justify-center '>
                  <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(35 56 118);"  width="72" height="72" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" d="M0 22.5h24M13.5 20v-6S11 12.5 7 12.5S.5 14 .5 14v6m17-18.5v3h-3v3h3v3h3v-3h3v-3h-3v-3zm-10.756 9S3.999 8.752 3.999 6.566c0-1.691 1.344-3.062 3.002-3.062s2.995 1.371 2.995 3.062C9.996 8.75 7.26 10.5 7.26 10.5z" />
                  </svg>  
                </h4>
                <ul>
                  <li>Talent Management</li>
                  <li>Billing Management  </li>
                  <li >Company Management</li>
                  <div class="btn-wrap">
                    <a href="/staff/" class="btn-buy " style="background-color: rgb(35 56 118);">Enroll Company</a>
                  </div>
  
                </ul>
                <div class="btn-wrap ">
                  <a href="/staff" class="btn-buy" style="background-color: rgb(35 56 118);">Login</a>
                </div>
              </div>
            </div>
            <!-- End Pricing Item -->

            <!-- End Pricing Item -->
          </div>
        </div>
      </section>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <!-- /Pricing Section -->
    </main>
    <div>
     {% include "components/footer.html" %}
    </div>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- PHP Email Form Validation -->
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- AOS Animation JS -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Glightbox JS -->
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

    <!-- PureCounter Vanilla JS -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
