<!-- Pricing Section -->
<section id="pricing" class="pricing section">
  <div class="container">
    <div class="row gy-3">
      <div class="col-xl-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="pricing-item featured">
          <h3>Pay Per Hire</h3>
          <h4><sup>USD</sup> 8 <span> / Tech talent 1 Hire</span></h4>
          <ul>
            <li>No commitments</li>
            <li>Instant access to specialists</li>
            <li>Perfect for occasional hiring</li>
            <li>Best for: One-time hire</li>
            {% comment %}
            <li class="na">Massa ultricies mi</li>
            {% endcomment %}
          </ul>
          <div class="btn-wrap">
            <a href="/home" class="btn-buy">Subscribe Now</a>
          </div>
        </div>
      </div>
      <!-- End 1 Item -->
      <div class="col-xl-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="pricing-item featured">
          <h3>Pay On Demand</h3>
          <h4><sup>USD</sup>65<span> / month </span></h4>
          <ul>
            <li>5 - 10 Hires</li>
            <li>One-time payment</li>
            <li>Perfect for occasional hiring</li>
            <li>Best for bulk hiring</li>
            {% comment %}
            <li class="na">Massa ultricies mi</li>
            {% endcomment %}
          </ul>
          <div class="btn-wrap">
            <a href="/home" class="btn-buy">Subscribe Now</a>
          </div>
        </div>
      </div>
      <!-- End 2 Item -->
      <div class="col-xl-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="pricing-item featured">
          <h3>AI/Tech Talent Pro</h3>
          <h4><sup>USD</sup>51 <span> / month </span></h4>
          <ul>
            <li>Upto 10 Hires</li>
            <li>Priority access & matching</li>
            <li>Unused hires roll over</li>
            <li>Best for: Regular hiring</li>
            {% comment %}
            <li class="na">Massa ultricies mi</li>
            {% endcomment %}
          </ul>
          <div class="btn-wrap">
            <a href="/home" class="btn-buy">Subscribe Now</a>
          </div>
        </div>
      </div>
      <!-- End 3 Item -->

      <div class="col-xl-3 col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <div class="pricing-item featured">
          <h3>AI/Tech Enterprise</h3>
          <h4><sup>USD</sup>5,000 <span> / unlimited hires</span></h4>
          <ul>
            <li>Dedicated recruitment support</li>
            <li>Priority expert access</li>
            <li>Custom workforce solutions</li>
            <li>Best for: High-volume hiring</li>
          </ul>
          <div class="btn-wrap">
            <a href="/home" class="btn-buy">Subscribe Now</a>
          </div>
        </div>
      </div>
      <!-- End Pricing Item -->

      <!-- End Pricing Item -->
    </div>
  </div>
</section>
